resource_group_name = "rg-healthcare-dev"
location = "eastus"
vnet_name = "healthcare-vnet"
vnet_cidr = "10.0.0.0/16"
private_subnet_cidr = "10.0.1.0/24"
public_subnet_cidr = "10.0.2.0/24"
acr_name = "myacr"
acr_sku = "Standard"
keyvault_name = "healthcare-kv"
tenant_id = "<AZURE_TENANT_ID>"
keyvault_secret_name = "db-password"
keyvault_secret_value = "<DB_PASSWORD>"
postgres_server_name = "healthcare-db"
postgres_admin_user = "dbadmin"
postgres_admin_password = "<DB_PASSWORD>"
postgres_sku = "Standard_B1ms"
postgres_storage_gb = 32
postgres_database_name = "healthcare"
aks_cluster_name = "aks-healthcare-dev"
aks_node_count = 2
aks_node_vm_size = "Standard_B2s"
aks_min_count = 1
aks_max_count = 3
